

<div class="cando-main">
  <div class="cando-contents">
    <div class="todo-box">
      <div class="todo-title">
        <h3>1.今いるペットを大切にする</h3>
      </div>
      <div class="todo-comment">
        あなたは今飼っているペットを大切にできていますか？お散歩やごはんの時間、一緒に遊ぶ時間、ブラッシング・・・。最初は一生懸命していたのに、最近忙しいことを理由に
        一緒にいる時間が減っていませんか？動物たちの寿命は、人間の何倍も短いものです。その動物にとってあなたは親同然です。短い一生の全てをあなたと過ごすのです。最近の
        行動を振り返って、ペットと過ごす時間を考え直してみてください。
      </div>
    </div>
    <div class="todo-box">
      <div class="todo-title">
        <h3>2.買わない</h3>
      </div>
      <div class="todo-comment">
        命はモノではありません。販売されている動物を買うことが絶対にダメだとは言いませんが、そういった商売があることで毎日失われる命があることも事実です。また、時々ニュース
        でみるような悪徳業者と言われるものも必ず存在しています。命をお金儲けの道具としてしか見ていない人たちは、劣悪な環境で強制的に繁殖を行っています。糞尿の処理もされず、
        餌も最低限の量、狭い場所でずっと繋がれたままの動物たちがいます。そして、繁殖ができなくなると彼らは捨てられます。「買う」という行動は、間接的に悪徳業者をサポートしていることに
        なるのです。
      </div>
    </div>
    <div class="todo-box">
      <div class="todo-title">
        <h3>3.調べて学ぶ</h3>
      </div>
      <div class="todo-comment">
        先進国の中でも日本は特に動物愛護の意識が低いことを知っていますか？日本では、毎年４万等の犬猫が殺処分されています。私たちがこうしている間にも、毎日100頭以上
        の命が殺処分によってなくなっているのです。こんな日本に対し、例えばドイツではそもそもペットショップというものがほとんどありません。ティアハイムと呼ばれる保護施設があり、
        そこでペットを貰い受けることが一般的です。仮にペットショップへ行ったとしても、店員さんに「ティアハイムで探してみてはどうですか？」と言われるぐらいです。
        それぐらい動物に対しての意識が違うのです。まずは色々な日本の事情を調べてみてください。そして知ったことを家族や友人に話してみてください。
      </div>
    </div>
    <div class="todo-box">
      <div class="todo-title">
        <h3>4.誰かに話す</h3>
      </div>
      <div class="todo-comment">
        日本人はそもそも里親精度というものを知らない人が多いです。しかし、あなたが住んでいる都道府県に必ず一つは、県や市が運営している愛護センターや保健所という施設が
        一つはあります。また民間でボランティアをされている団体もあります。そういった施設があることを周りの人に共有してみてください。一度、自分の家族と一緒に譲渡会や
        施設の見学に参加してみるのもいいと思います。認知が広がり、施設からもらう人が増えれば、その施設はまた新たに命を救うことができます。小さいことでもそれを何人もの人がすれば、
        それは大きい結果につながります。
      </div>
    </div>
  </div>

</div>