<%= render "shared/header" %>

<div class="staff-main">
  <div class="staff-contents">

    <div class="interview1">
      <div class="interview-pic1">
      </div>

      <div class="comment-box">
        <div class="comment-title">
          田口動物愛護団体代表 田口雅彦さん
        </div>
        <div class="comment">
          私たちは神奈川県を拠点に殺処分ゼロを目指して日々活動しており、今まで色々な事情をもった動物たちを保護してきました。
          私がこの活動を始めた当初、意外にも飼い主からの持ち込みが多いことに驚かされました。その子を迎え入れたときはどんな気持ちだったのだろう？
          その子を保健所にわたしたとき、どんな気持ちだったのだろう？今まで家族として一緒にいたのに、なぜそんなことができるのだろう。
          今でもその答えは分かりません。ペットは子供と同じです。お金も時間もかかります。病気にもなります。そして人間より早く老いていきます。
          今ペットを飼っている方は、ぜひそのまま生涯愛情をかけ続けてあげてください。新しく迎え入れることを考えているあなたは、もう一度ご家族と一緒に考えてみてください。
          10年後20年後もお世話をする人がいるか、お金と時間の余裕はあるか。よく考え、一家族として迎え入れてあげてください。
        </div>
      </div>
    </div>

    <div class="interview2">
      <div class="interview-pic2">
      </div>

      <div class="comment-box">
        <div class="comment-title">
          ○○市保健所勤務獣医師 浜寺紀子さん
        </div>
        <div class="comment">
          私は子供の頃から動物が大好きで、将来は獣医師になると決めていました。動物を助けたくて獣医師になりましたが、毎日殺処分される動物たちを見ています。
          しかし、誰かがこの仕事をしなければいけません。保健所のスタッフもみんな同じ気持ちです。いつか日本から殺処分がなくなり、私たちの仕事が必要なくなることを
          毎日心の底から願っています。保健所にいる子たちは、もともと病気を持っていたり噛んでしまったりする子もいますが、穏やかで飼いやすい子もいます。
          人と同じように見た目も性格も個性豊かです。ペットショップがダメだとは言いませんが、一度愛護団体や保健所から引き取ることも検討してみてください。
          一人でも多くの方が家族として迎え入れ、一つでも多くの命が救われることを願っています。
        </div>
      </div>
    </div>

  </div>
</div>