.show-dog-page{
    width: 100vw;
    height: 100vh;
    padding: 3% 15%;
    background-color: #dcd0c0;
}

.main-content{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    background-color: #ffffff;
    position: relative;
}

.show-left{
    width: 40%;
    height: 100%;
    text-align: center;
}

.image-box{
    width: 100%;
    height: 28vh;
    margin-bottom: 20px;
}

.decided{
    width: 400px;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 50px;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 3px #e83929;
    color: #e83929;
    position: absolute;
}

.show-image{
    height: 100%;
}

.show-btns{
    display: flex;
    justify-content: center;
}

.btns{
    margin-top: 60px;
    list-style: none;
}

.show-btn{
    width: 180px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: #666059 ;
}

.show-btn-decide{
    width: 180px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: darkorange ;
}

.show-form{
    font-size: 14px;
    background-color: linen;
    border: solid 4px linen;
}

.show-forms{
    font-size: 14px;
    text-align: left;
    background-color: linen;
    border: solid 4px linen;
}

.index-btn{
    margin-top: 30px;
}

.index-link{
    color: #666059;
}

.reqest,.edit,.delete,.decide{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
}

.show-rights{
    width: 60%;
    height: 100%;
}

.show-right{
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: dotted 3px #666059;
}

.show-box{
    width: 100%;
    font-size: 18px;
    color: #332c22;
}

.show-date{
    width: 100%;
    color: #db7c00;
}

.show-descriiption{
    width: 100%;
    height: 58%;
    font-size: 18px;
    color: #332c22;
}



